# Python virtual environment
backend/.venv/

# Environment variables / secrets
.env
*.env 

# Python cache
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

.DS_Store

# SQLite database
backend/instance/
# Database local test files
database/instance/
instance/
*.db



# Virtual environments
myenv/
venv/
.venv/
