# Python virtual environment
backend/.venv/

# Environment variables
.env
*.env 

# Python cache
__pycache__/
*.pyc
*.py[cod]

.DS_Store

# SQLite database
backend/instance/
# Database local test files
database/instance/
*.db

# Environment variables / secrets
.env

# Virtual environments
myenv/
venv/
.venv/
